<section class="about">

  <header class="page-header">
    <h1>About</h1>
  </header>

  <div class="jumbotron">
    <p>This is a silly page where you can pretend to buy things!</p>
  </div>
  
  

</section>
